:root {
  font-family: "Epilogue", sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --color-almost-white: hsl(0, 0%, 98%);
  --color-medium-gray: hsl(0, 0%, 41%);
  --color-almost-black: hsl(0, 0%, 8%);
}
